/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p { 
  font-family: 'Roboto', sans-serif;
  color: rgb(72, 72, 72);
}

span {
  color: rgb(72, 72, 72);
}

.app {
  width: 45vw;
  margin-left: 20vw;
}

.reviewHeaderDiv {
  margin-bottom: 20px;
}

.reviewsHeaderH2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25em;
  color: rgb(72, 72, 72);
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

input {
  font-size: 14px;
  color:  #484848;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 2px;
  border-width: 1px;
  margin-right: 5px;
  border-right: 0px;
}

.average {
  font-size: 18px;
  font-weight: 400;
}

.averageTotal {
  font-weight: 500;
  font-size: 18px;
  margin-left: 5px;
}

.reviewCount {
  font-weight: 500 !important;
}

.bottomDivOfHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerForStarReviews {
  display: flex;
}

.containerForStarReviews {
  display: flex;
}

.star {
  display: flex;
  justify-items: center;
  align-content: center;
  padding-right: 10px;
  border-right: 1px solid rgb(235, 235, 235)
}

ion-icon {
  justify-self: center;
}

.average {
  margin: 0px;
  padding-left: 7px;;
}

.search {
  display: flex;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 300;
}

.ratingHolderDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-top: 2px solid rgb(235, 235, 235);
  padding-top: 10px;
 
}

.ratingDiv {
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.ratingBarAndScore {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.score {
  margin-left: 10px;
  font-size: 18px;
}

.outerLineDiv {
  width: 60%;
  background-color: #d9d9d9;
  height: 5px;
  align-self: center;
  
}

.innerLineDiv {
  background-color: #484848;
  height: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;;
}

.image {
  border-radius: 50%;
}

.topOfReview {
  display: flex;
  align-items: center;
}

.reviewOuterDiv {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 15px;
  border-bottom: 1px solid rgb(235, 235, 235)
}

.nameDate {
  align-self: flex-start;
  margin-left: 20px;
  height: 100%;
}

.date {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}

.reviewParagraph {
  padding-top: 17px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.75px;
}

.reviewsComponent {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.reviewNavDiv {
  display: flex;
  grid-column: 2/3;

  justify-content: space-around;
}



.reviewsButtons {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
  color: rgb(0, 132, 137);
  font-size: 14px;
 
}

.currentButton {
  background-color: rgb(0, 132, 137);
  color: rgb(255, 255, 255);
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
  font-size: 14px;
  
}

.forward {
  grid-column: 3/4;
  align-items: center;
  background-color: transparent;
  box-shadow: rgb(0, 132, 137) 0px 0px 0px 1px inset;
  color: rgb(0, 132, 137);
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
  border-radius: 50%;
  justify-self: center;
}

.backward {
  grid-column: 1/2;
  align-items: center;
  background-color: transparent;
  box-shadow: rgb(0, 132, 137) 0px 0px 0px 1px inset;
  color: rgb(0, 132, 137);
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
  border-radius: 50%;
  justify-self: center;
}