p {
  font-family: 'Roboto', sans-serif;
  color: rgb(72, 72, 72);
}

span {
  color: rgb(72, 72, 72);
}

.app {
  width: 40vw;
  margin-left: 20vw;
}

.reviewHeaderDiv {
  margin-bottom: 20px;
}

.reviewsHeaderH2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25em;
  color: rgb(72, 72, 72);
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  font-size: 14px;
  color:  #484848;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 2px;
  border-width: 1px;
  margin-right: 5px;
  border-right: 0px;
}

.average {
  font-size: 18px;
}

.bottomDivOfHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerForStarReviews {
  display: flex;
}

.containerForStarReviews {
  display: flex;
}

.star {
  display: flex;
  justify-items: center;
  align-content: center;
  padding-right: 10px;
  border-right: 1px solid rgb(235, 235, 235)
}

.hydrated {
 padding-top: 2px;
  padding-right: 3px;
}

ion-icon {
  justify-self: center;
}

.average {
  margin: 0px;
  padding-left: 7px;;
}

.search {
  display: flex;
  align-items: center;
}

.title {
  font-size: 16px;
}

.ratingHolderDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-top: 2px solid rgb(235, 235, 235);
  padding-top: 10px;
}

.ratingDiv {
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  
}

.outerLineDiv {
  width: 30%;
  background-color: #d9d9d9;
  height: 5px;
  align-self: center;
  
}

.innerLineDiv {
  background-color: #484848;
  height: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;;
}

.image {
  border-radius: 50%;
}
