/* .app {
  width: 45vw;
  margin-left: 20vw;
} */

.ratingHolderDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-top: 2px solid rgb(235, 235, 235);
  padding-top: 10px;
}