.ratingDiv {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.title {
  font-size: 16px;
  font-weight: 300;
}

.ratingBarAndScore {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.outerLineDiv {
  width: 60%;
  background-color: #d9d9d9;
  height: 5px;
  align-self: center;
}

.innerLineDiv {
  background-color: #484848;
  height: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;;
}

.score {
  margin-left: 10px;
  font-size: 18px;
}